<img id="header" src="{{ STATIC_URL }}OpenJSCAD.org/imgs/title.png"/>

<div id="menu">
  <img id="menuHandle" src="{{ STATIC_URL }}OpenJSCAD.org/imgs/menuHandleVL.png">
  <nav>
    <p/>
    <table class="info">
      <tr><td align="right" class="infoOperation">Render Code</td><td class="infoKey">SHIFT + RETURN</td></tr>
      <tr><td align="right" class="infoOperation">Rotate XZ</td><td class="infoKey">Left Mouse</td></tr>
      <tr><td align="right" class="infoOperation">Pan</td><td class="infoKey">Middle Mouse or SHIFT + Left Mouse</td></tr>
      <tr><td align="right" class="infoOperation">Rotate XY</td><td class="infoKey">Right Mouse or ALT + Left Mouse</td></tr>
      <tr><td align="right" class="infoOperation">Zoom In/Out</td><td class="infoKey">Wheel Mouse or CTRL + Left Mouse</td></tr>
    </table>
    <p><a class="navlink" href="https://github.com/Spiritdude/OpenJSCAD.org/wiki/User-Guide" target="_blank">User Guide / Documentation <img src="{{ STATIC_URL }}OpenJSCAD.org/imgs/externalLink.png" style=externalLink></a>
      <br/><span class="menuSubInfo">How to program with OpenJSCAD: online, offline & CLI</span></p>
    <p><a class="navlink" href="https://plus.google.com/115007999023701819645" rel="publisher" target=_blank>Recent Updates <img src="{{ STATIC_URL }}OpenJSCAD.org/imgs/externalLink.png" style=externalLink></a>
      <br/><span class="menuSubInfo">Announcements of recent developments</span></p>
    <p><a class="navlink" href="https://plus.google.com/communities/114958480887231067224" target="_blank">Google+ Community <img src="{{ STATIC_URL }}OpenJSCAD.org/imgs/externalLink.png" style=externalLink></a>
      <br/><span class="menuSubInfo">Discuss with other users &amp; developers</span></p>
<div id=examplesTitle class="navlink"><a href='#' onclick='return false'>Examples</a></div>
<div id=examples></div>
<span class="menuSubInfo">Dozens of examples to learn from</span></p>
<p/>
<!--<div id=optionsTitle class="navlink"><a href='#' onclick='return false'>Options</a></div>
<div id=options>...</div>
<span class="menuSubInfo>Your personal settings</span></p>
<p/>-->
<b>Supported Formats</b>
<table class="info">
<tr><td align="right"><b>jscad</b></td><td><a target=_blank href="https://github.com/Spiritdude/OpenJSCAD.org/wiki/User-Guide">OpenJSCAD</a> (native, import/export)</td></tr>
<tr><td align="right"><b>scad</b></td><td><a target=_blank href="http://openscad.org">OpenSCAD</a> (<a target=_blank href="https://github.com/Spiritdude/OpenJSCAD.org/wiki/User-Guide#direct-openscad-scad-import">experimental</a>, import)</td></tr>
<tr><td align="right"><b>stl</b></td><td><a target="_blank" href="http://en.wikipedia.org/wiki/STL_(file_format)">STL format</a> (experimental, import/export)</td></tr>
<tr><td align="right"><b>amf</b></td><td><a target="_blank" href="http://en.wikipedia.org/wiki/Additive_Manufacturing_File_Format">AMF format</a> (experimental, import/export)</td></tr>
</table>
<p><a class="navlink" href="#" onclick="$('#about').show(); return false;">About</a></p>
</nav>
</div> <!-- /menu -->

<div id=about>
<img src="{{ STATIC_URL }}OpenJSCAD.org/imgs/title.png"><br>
<p>
by Ren&eacute; K. M&uuml;ller (UI & CLI),
Joost Nieuwenhuijse (core), 
Eduard Bespalov (core),
Gary Hogdson (OpenSCAD translator)
<p>csg.js core &amp; improvements by 
Evan Wallace, 
Eduard Bespalov, 
Joost Nieuwenhuijse, 
Alexandre Girard
<p>
Licenses: MIT License &amp; GPLv2<br>
Get your copy/clone/fork from <a href="https://github.com/Spiritdude/OpenJSCAD.org" target=_blank>GitHub: OpenJSCAD</a>
<p><br>
<a class="okButton" href='#' onclick="$('#about').hide(); return false;"> OK </a>
</div>
